.movie_list.list_layout {
  margin: auto;
  min-height: 100vh;
  width: 60vw;
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  .movie_card {
    display: flex;
    gap: 30px;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
  }

  .movie_card__poster_wrapper {
    min-width: 200px;
    height: 100%;
    overflow: hidden;
  }

  .movie_card__poster_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movie_card__text_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
  }

  .movie_card__title_score {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
  }

  .movie_card__score_number {
    background-color: #fff;
    padding: 15px;
    border-radius: 50%;
    aspect-ratio: 16/9;
    display: grid;
    place-items: center;
  }

  .movie_card__overview {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Number of lines you want to show */
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .movie_card__genres {
    display: flex;
    gap: 15px;
    align-items: center;
    text-transform: capitalize;
    color: rgba($color: #000000, $alpha: 0.5);
  }

  .movie_card__tag_blue_icon {
    width: 20px;
    height: 20px;
  }

  .movie_card__release_info {
    display: flex;
    gap: 5px;
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: 16px;
  }

  .movie_card__release_paragraph {
    color: #000;
    font-weight: bold;
  }
}
