* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// TODO: learn grid once again.
.movie_list {
  margin: auto;
  height: 100vh;
  width: 50vw;

  display: flex;
  flex-wrap: wrap;

  gap: 30px;
  padding: 30px;

  overflow-y: scroll;
}

.movie_list::-webkit-scrollbar{
  display: none;
}

.movie_card {
  border: 2px solid blue;

  height: 400px;
  width: 250px;
}

.movie_card__poster_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
