// TODO: learn grid once again.
.movie_list {
  margin: auto;
  min-height: 100vh;
  width: 1366px;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 100px;
}

.movie_list::-webkit-scrollbar {
  display: none;
}

.movie_card {
  height: 400px;
  width: 250px;
}

.movie_card__poster_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
