.options_list {
  margin: auto;
  padding: 30px 0px;
  width: 60vw;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}

.filter {
  position: relative;
  flex: 0;
}

.filter .filter__input {
  height: 50px;
  width: 180px;
  padding: 0 15px;
  border: none;

  position: relative;
  z-index: 0;
  cursor: pointer;

  background-color: #fff;
  box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter .filter__input .filter__active_options,
.filter__counter {
  display: grid;
  place-items: center;
}

.filter .filter__input .filter__active_options {
  display: block;
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter .filter__counter {
  height: 30px;
  width: 30px;
}

.search_bar {
  flex: 1;
}

.filter .filter__input_search {
  width: 100%;
  padding-left: 50px;
  font-size: 16px;
}

.filter .filter__magnifier_icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
  width: 20px;

  .filter__magnifier_img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.icon_panel {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 15px;
}

.icon_panel .icon_panel__img_wrapper {
  width: 30px;
  height: 30px;

  .icon_panel__icon_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
